JAZBA-App/*
JAZBA-App/JazbaGymProject/src/MainSceneController.java
JAZBA-App/JazbaGymProject/src/MainScene.fxml
JAZBA-App/JazbaGymProject/src/App.java
JAZBA-App/JazbaGymProject/bin/MainSceneController.class
JAZBA-App/JazbaGymProject/bin/MainScene.fxml
JAZBA-App/JazbaGymProject/bin/App.class
JAZBA-App/JazbaGymProject/.vscode/settings.json
JAZBA-App/JazbaGymProject/.vscode/launch.json
Junoon/src/bin/.classpath
Junoon/src/bin/.project
Junoon/src/bin/application.css
Junoon/src/bin/controllers/LoginController.class
Junoon/src/bin/controllers/MainSceneController.class
Junoon/src/bin/controllers/package-info.class
Junoon/src/bin/controllers/RegistrationController.class
Junoon/src/bin/CreateWorkout.fxml
Junoon/src/bin/CreateWorkoutController.class
Junoon/src/bin/ExerciseListCell.class
Junoon/src/bin/fxml/Login.fxml
Junoon/src/bin/fxml/MainScene.fxml
Junoon/src/bin/fxml/Registration.fxml
Junoon/src/bin/Login.fxml
Junoon/src/bin/LoginController.class
Junoon/src/bin/LogWorkout.fxml
Junoon/src/bin/Main.class
Junoon/src/bin/MainScene.fxml
Junoon/src/bin/MainSceneController.class
Junoon/src/bin/Registration.fxml
Junoon/src/bin/RegistrationController.class
Junoon/src/bin/resources/application.css
Junoon/src/bin/resources/package-info.class
Junoon/src/bin/resources/structre.ini
Junoon/src/bin/SceneManager.class
Junoon/src/bin/style.css
*.class
jazba/target/classes/jazba/Exercise.class
jazba/target/classes/jazba/LogWorkoutController.class
jazba/target/classes/jazba/LogWorkoutDAO.class
jazba/target/classes/jazba/WorkoutPreset.class
